<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <property resource="lims-import.properties" /> 
     <property name="Log" value="./Log/Verwerking" />

	<timestamp key="date" datePattern="yyyyMMddHHmmss"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>

  
 	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${Log}/Lims2-Import-Verwerkinglijst.${date}.xml</file>
		<append>true</append>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
		 <layout class="ch.qos.logback.classic.log4j.XMLLayout">
            <locationInfo>false</locationInfo>
         </layout>
		 <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>
	
	
	<if condition='isDefined("log.home")'>
        <then>
            <property name="Log" value="${log.home}"/>
        </then>
       <!--  <else>
            <property name="Log" value="./target/Verwerking"/>
        </else> -->
    </if>

	<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
		<file>${Log}/Lims2-Import-Verwerkinglijst.${date}.log</file>  
		<append>true</append>
		<encoder>
		 <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>
	
<!-- 	<appender name="FILE1" class="ch.qos.logback.core.FileAppender">
    <file>Log/Lims2-Verwerkingslijst.${date}.log</file>
    <encoder>
      <pattern>%date | %level | [%thread] %logger{10} | [%file:%line] | %msg%n</pattern>
    </encoder>
  </appender> -->
	
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE2" />
		<!-- 
		<appender-ref ref="FILE1" /> -->
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
